<%- include('../partials/head') %>

<body data-spy="scroll" data-target=".navbar" data-offset="65">
     <!-- Preloader -->
     <div id="preloader">
        <div id="status">&nbsp;</div>
    </div>
    
    <%- include('../partials/navbar') %>

        <%- body %>
    
    <%- include('../partials/visualFooter') %>

    <%- include('../partials/footer') %>

</body>
</html>